@use "../utilities/variables" as *;

.login-page {
  background: $color-f5f6fa;
  min-height: 100dvh;
  height: auto;
  overflow-y: auto;

  .logo-brand-login {
    position: absolute;
    margin-top: 30px;
    margin-left: 45px;
    top: 0;
    left: 0;

    img {
      width: 100%;
      max-width: 152px;
      object-fit: contain;
    }
  }

  .content-page {
    min-height: 100vh;

    background-color: $color-white;
    @media (max-width: 1020px) {
      background: linear-gradient(to bottom, white 50%, #003676 50%);
    }
  }
  .bg-container-password {
    @apply tw-z-10 tw-absolute tw-w-full tw-pl-[350px] tw-max-w-[75%] tw-h-full tw-bg-[#003676] lg:tw-fixed;
    clip-path: polygon(4.55% 0, 100% 0, 100% 100%, 0 100%);
    right: 0;
    z-index: 2;
    @media (max-width: 1020px) {
      clip-path: polygon(0 0, 100% 4.55%, 100% 100%, 0 100%);
      width: 100%;
      height: calc(100dvh - 150px);
      max-width: 100%;
      padding-left: 0;
    }
  }
  .card-login-container {
    @apply  tw-relative tw-ml-auto lg:tw-h-full lg:tw-min-h-screen tw-w-3/4 tw-bg-transparent tw-bg-no-repeat tw-bg-cover tw-bg-center tw-p-16;
    @apply max-lg:tw-p-[30px] max-lg:tw-w-full max-lg:tw-min-h-[452px] max-lg:tw-pb-0;
    z-index: 3;
    .card-login {
      @apply tw-mx-auto tw-h-full tw-w-full tw-max-w-[593px] tw-bg-transparent tw-rounded-[32px] tw-border-0 tw-shadow-none tw-flex tw-flex-col lg:tw-justify-center ;
      .p-card-body {
        padding: 0;
      }
    }

  }
  .card-img-container {
    @apply tw-z-10 lg:tw-absolute tw-h-full tw-min-w-[384px] tw-w-1/4 tw-left-0 tw-flex tw-flex-col tw-justify-center tw-items-center tw-bg-white;
    @apply max-lg:tw-w-full max-lg:tw-min-w-full max-lg:tw-top-0 max-lg:tw-h-[149px];
    .card-image {
      @apply tw-w-[250px] tw-h-[250px] tw-bg-[url('/icons/ic_logo-header.svg')] tw-bg-no-repeat tw-bg-cover tw-bg-center;
      @apply max-lg:tw-w-[150px] max-lg:tw-h-[150px];
    }
  }
  .back-icon {
    border-radius: 50%;
    background-color: #1a4b84;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    i {
      font-size: 11px;
      font-weight: bolder;
      cursor: pointer;
      color: $color-white;
    }
  }
}
