@use "../utilities/variables" as *;
.general-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: $font-size-16;
  color: $color-1a1a29;
  input {
    width: 100%;
    border: none;
  }
}

.general-input.solo-login {
  label {
    font-size: $font-size-13;
    font-family: "arial-bold";
    color: $color-f8f8f8;
    font-weight: normal;
  }
  input {
    background: $color-f5f6fa;
    border-radius: 14px;
    padding: 12px 15px;
    height: 42px;

    &::placeholder {
      font-size: $font-size-16;
      color: $color-bfbfbf;
      font-family: "arial-italic";
    }
  }
  .p-inputgroup {
    background: $color-f5f6fa;
    border-radius: 14px !important;
    input {
      background: none !important;
      border-radius: none !important;
    }
  }
}

.general-input.filter {
  input {
    border-radius: 14px;
    background: $color-white;
    padding: 10px 23px;
    border: none;

    &::placeholder {
      font-size: $font-size-15;
      color: $color-bfbfbf;
      font-family: "arial-italic";
    }
    &:hover {
      border-color: $color-black-3;
    }
    &:enabled:focus {
      border-color: $color-black-3;
    }
  }
}

.general-input.solo-form {
  label {
    color: $color-1a1a29;
    font-family: "arial-bold";
    font-size: $font-size-13;
  }
  input {
    border-radius: 14px;
    background: $color-f5f6fa;
    padding: 10px 23px;
    border: none;
    font-size: $font-size-16;

    &::placeholder {
      font-size: $font-size-16;
      color: $color-bfbfbf;
      font-family: "arial-italic";
    }
    &:hover {
      border-color: $color-black-3;
    }
    &:enabled:focus {
      border-color: $color-black-3;
    }
  }
  .p-inputgroup {
    background: $color-f5f6fa;
    border-radius: 14px !important;
    input {
      background: none !important;
      border-radius: none !important;
    }
  }
}
.general-input.form-group {
  label {
    font-size: $font-size-13;
    font-family: "arial-bold";
    color: $color-f8f8f8;
    font-weight: normal;
  }

  .p-inputgroup {
    border-radius: 14px;

    &:has(input:focus) {
      border: 1px solid $secondary !important;
    }

    input {
      background: $color-f5f6fa;
      padding: 12px 15px;
      height: 42px;

      &::placeholder {
        font-size: $font-size-16;
        color: $color-bfbfbf;
        font-family: "arial-italic";
      }
    }
    .p-inputgroupaddon {
      padding-left: 0;
      border: none;
      background: $color-f5f6fa;

      color: gray;
      height: 42px;
      font-size: $font-size-14;
      width: fit-content;
      font-family: "arial-italic";

      &:has(.p-select) {
        padding-right: 0;
      }
      .p-select.p-component.p-inputwrapper {
        background: $color-f5f6fa;

        border: none;
        box-shadow: none;
        height: 42px;
        .p-select-label {
          align-items: center;
          color: $secondary;
          display: flex;
          font-size: $font-size-14;
          padding: 15px 8px 15px 15px;
        }
        .p-select-dropdown {
          width: fit-content;
          justify-content: start;
        }
      }
    }
  }
}
